@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* css reset start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
button {
  all: unset;
}

button:focus {
  outline: revert;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* css reset end */
.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --header-bg: #090f0b;
  --white-text: rgb(255, 255, 255);
  --green-bg: #4fc47e;
}
html {
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: max-content;
  transition: all 1s ease;
}

header {
  background-color: var(--header-bg);
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.header-cont {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 67.5rem;
  padding-block: 0.8rem;
}

.header-links {
  & > ul {
    padding: 0;
    color: var(--white-text);
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 0.813rem; /*  13px */
    gap: 0.375rem; /* 6px */
    gap: 1.5rem; /* 24px */
    & a {
      text-decoration: none;
      color: var(--white-text);
    }
    & .login-link {
      margin-inline-start: 1rem;
    }

    & .sign-up-link {
      padding: 0.625rem; /* 10px */
      background-color: var(--green-bg);
      border-radius: 0.25rem; /*  4px */
    }
  }
}

.hidden {
  display: none;
}

.mobile-hidden {
  display: block;

  & img {
    max-height: 28px;
  }
}

@media (min-width: 48rem) {
  .hidden {
    display: flex;
  }

  .mobile-hidden {
    display: none;
  }
}
