/* css reset start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
button {
  all: unset;
}

button:focus {
  outline: revert;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* css reset end */

:root {
  --header-bg: #090f0b;
}
html {
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: max-content;
  transition: all 1s ease;
}

header {
  background-color: var(--header-bg);
}

.header-cont {
  /* margin-inline: auto; */
  display: flex;
  justify-content: center;
  max-width: 67.5rem;
}
